@font-face{font-family:"Open Sans";src:local("Open Sans Regular"),local("OpenSans-Regular"),url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format("woff2")}

body {
  background: url("wallpaper.webp") no-repeat center center fixed;
  background-size: cover;
  margin: 0px;
}
*:not(h1):not(pre) { box-sizing: border-box; font-family: -apple-system,segoe ui,"Open Sans",system-ui; font-size: 15px; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

::-webkit-scrollbar { width: 10px; height: 10px; }

.fullscreen { transform: translateY(0); transition: 0.2s; width: 800px; height: 75%; position: fixed; bottom: 0; z-index: 253; padding: 10px; opacity: 0; border-radius: 0px 7px 0px 0px; box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 32px; }
.fullscreen div { text-align: center; display: inline-block; margin: 30px; transition: cubic-bezier(.17,.67,0,.83) 0.1s; }
.fullscreen div img { height: 80px; width: 80px; filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.5)); }
.fullscreen div:hover, .fullscreen div:focus { transform: scale(1.35); }
.fullscreen div:active { transform: scale(1.6); }

#PackageStartAnimation {
  position: fixed;
  z-index: 500;
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
}

.dock {
  width: 100%;
  text-align: center;
  cursor: default;
  padding: 7px;
  position: fixed;
  bottom: 0;
  z-index: 254;
}
.dock img {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: -2px;
  transition: cubic-bezier(.17,.67,0,.83) 0.3s;
  height: 40px;
  width: 40px;
}
.dock img:hover {
  margin-left: 20px;
  margin-right: 20px;
  transform: translateY(-15px) scale(1.5);
}
.dock img:active {
  margin-left: 35px;
  margin-right: 35px;
  transform: translateY(-30px) scale(2);
}
.dock .menubarButton { float: left; }
.dock .menubarObject { float: right; }

.contextMenu {
  position: fixed;
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin: 5px;
  box-shadow: 0px 0px 32px rgba(0,0,0,0.7);
  transition: cubic-bezier(.17,.67,0,.83) 0.1s;
  cursor: default;
  z-index: 255;
}
.contextMenuSelection {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.contextMenuSelection img { width: 20px; height: 20px; }
.notAllowed {
  cursor: not-allowed;
}
.contextMenuSeparator {
  height: 1px;
  margin: 5px 0 5px 0;
}

.window {
  position: fixed;
  box-shadow: 0px 0px 32px rgba(0,0,0,0.5);
  z-index: 1;
  transition: transform 0.2s, opacity 0.2s;
  border-radius: 7px;
}
.windowTitleBar {
  padding: 7px;
  padding-left: 10px;
  cursor: default;
  text-align: center;
  user-select: none;
}
.windowTitleBar ui { margin-right: 3.5rem; }
.windowBody {
  padding: 15px;
  height: calc(100% - 35px);
  overflow: auto;
}

h1 { margin-top: 10px; margin-bottom:10px; }
.windowAction {
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-right: 0.4em;
  margin-top: -0.05em;
}
.windowAction img {
  height: 0.92rem;
  width: 0.92rem;
}

input, button, textarea, select, option { outline: none; }
button[disabled], input[disabled], textarea[disabled], select[disabled] { cursor: not-allowed; }
.chboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  user-select: none;
}
.chboxContainer input { display: none; }
.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  padding-left: 5px;
  padding-right: 4px;
  border-radius: 7px;
}
input[type="range"] { -webkit-appearance: none; }
input[type="range"]::-webkit-slider-thumb { -webkit-appearance: none; }
.menubar {
  padding: 5px;
  border-radius: 0;
  cursor: default;
}
.menubarButton, .menubarObject {
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.progressBarInner { height: 100%; text-align: center; padding: 2px; }
.progressBarOuter { display: inline-block; padding: 0 !important; height: 24px; }

iframe { border: none; }


/* JQUERY */
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}