::-webkit-scrollbar-thumb { background-color: rgba(0,0,0,0.5); border-radius: 7px; box-shadow: 0px 0px 6px rgba(0,0,0,0.2); }

a { color: #c8a2eb; }

.fullscreen, .dock, .contextMenu, .windowTitleBar { color: white; }

.dock { box-shadow: 0px 0px 6px rgba(0,0,0,0.4); }

.notAllowed { color: rgba(255,255,255,0.3); }
.contextMenuSeparator {
  border-top: 1px solid rgba(255,255,255,0.3);
}

.window {
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(25px);
}
.windowBody {
  background: rgb(44,47,54);
  color: #ebebeb;
}
.windowAction {
  background-color: transparent;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-right: 0.4em;
  margin-top: -0.05em;
  float: left;
}
.windowAction img {
  height: 0.95rem;
  width: 0.95rem;
}
.windowAction img:hover { filter: brightness(50%); }
.windowAction img:active { filter: brightness(30%); }

input[type="textbox"], input[type="text"], button, textarea, select, .progressBarOuter {
  background-color: rgba(0,0,0,0.3);
  color: #ebebeb;
  border-radius: 7px;
  padding: 7px;
  padding-left: 9px;
  padding-right: 9px;
  border: none;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}

.progressBarInner { border-radius: 7px; background: rgba(255,255,255,0.4); color: black; }
.progressBarOuter { width: 100%; background: rgba(0,0,0,0.15); }

option {
  background-color: black;
  color: #ebebeb;
  font-weight: bold;
}
button[disabled], input[disabled], textarea[disabled], select[disabled] {
  background: rgba(0,0,0,0.15);
  color: rgba(255,255,255,0.3);
}
.chboxContainer input:checked ~ .checkmark { color: white; }
.checkmark {
  background-color: rgba(0,0,0,0.3);
  color: transparent;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
input[type="range"] {
  height: 4px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 7px;
  border: none;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
}
input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
}
input[type="range"]::-webkit-slider-thumb:hover { background: gray; }
.menubar {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  color: white;
}
.menubarButton, .menubarObject {
  border-radius: 7px;
}
.menubarButton:hover, button:hover:not([disabled]), .checkmark:hover:not(.notAllowed), select:hover:not([disabled]), .contextMenuSelection:hover:not(.notAllowed) { background-color: rgba(75,75,75,0.3); }
.menubarButton:active, button:active:not([disabled]), .checkmark:active:not(.notAllowed), select:active:not([disabled]), .contextMenuSelection:active:not(.notAllowed) { background-color: rgba(125,125,125,0.3); }
button, .checkmark:not(.notAllowed) {
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
button:after, .checkmark:not(.notAllowed):after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -1px;
  pointer-events: none;
  background-image: radial-gradient(circle, white 8%, transparent 10%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .3s, opacity 1s;
}
button:active:after, .checkmark:not(.notAllowed):active:after {
  transform: scale(0,0);
  opacity: .3;
  transition: 0s;
}

@supports (backdrop-filter: blur(25px)) {
  .blur {
    color: rgb(240,240,240);
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(25px);
  }
  .window .blur { background: transparent; backdrop-filter: none; }
}