::-webkit-scrollbar-thumb { background-color: rgb(44,48,54); border-radius: 3px; border: 1px solid rgb(32,35,40); }

.fullscreen {
  background-color: rgb(44,48,54);
  color: white;
}

.dock {
  background: transparent;
  color: black;
}

.dock img {
  filter: drop-shadow(0px 0px 5px black);
}

.contextMenu {
  background-color: rgb(44,48,54);
  color: white;
  border-radius: 3px;
  border: 1px solid rgb(59,65,74);
}
.contextMenuSeparator {
  border-top: 1px solid rgba(0,0,0,0.3);
}

.window {
  border: 1px solid rgb(59,65,74);
}
.windowTitleBar {
  background-color: rgb(54,58,63);
  color: rgb(220,220,220);
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.windowBody {
  background-color: rgb(44,48,54);
  color: white;
}
.windowAction {
  margin-right: 0.4em;
  margin-top: -0.05em;
  float: left;
}

.windowAction img { filter: brightness(85%); }
.windowAction img:hover { filter: brightness(40%); }
.windowAction img:active { filter: brightness(0%); }

input, button, textarea, select {
  background-color: rgb(44,48,54);
  color: white;
  border-radius: 3px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  border: 1px solid rgb(32,35,40);
}

textarea, input { box-shadow: inset 0px 0px 3px rgba(0,0,0,0.25); }

option {
  background-color: rgb(44,48,54);
  color: white;
}
button[disabled], input[disabled], textarea[disabled], select[disabled], .notAllowed {
  background-color: rgb(24,28,34);
  color: rgba(255,255,255,0.3);
}
.chboxContainer input:checked ~ .checkmark { color: white; }
.checkmark {
  color: transparent;
  background-color: rgb(44,48,54);
  border: 1px solid rgb(32,35,40);
}
input[type="range"] { height: 3px; }
input[type="range"]::-webkit-slider-thumb {
  background-color: rgb(44,48,54);
  border: 1px solid rgb(32,35,40);
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.menubar {
  background-color: rgb(54,58,63);
  color: rgb(220,220,220);
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.menubarButton, .menubarObject {
  border: 1px solid rgb(32,35,40);
  font-weight: bold;
  border-radius: 3px;
}
#systemButton { border: none; }
#systemButton img { box-shadow: none; filter: drop-shadow(0px 0px 5px black); }
#menubarClock { color: white; text-shadow: 0px 0px 5px black; border: none; }

.menubarButton:hover, button:hover:not([disabled]), .checkmark:hover:not(.notAllowed), select:hover:not([disabled]), .contextMenuSelection:hover:not(.notAllowed), ::-webkit-scrollbar-thumb:hover, input[type="range"]::-webkit-slider-thumb:hover { background: linear-gradient(0deg, rgb(0,65,155), rgb(13,113,155)); }
.menubarButton:active, button:active:not([disabled]), .checkmark:active:not(.notAllowed), select:active:not([disabled]), .contextMenuSelection:active:not(.notAllowed), ::-webkit-scrollbar-thumb:active, input[type="range"]::-webkit-slider-thumb:active { background: linear-gradient(0deg, rgb(48,115,255), rgb(63,173,255)); }