::-webkit-scrollbar-thumb { background-color: rgb(44,48,54); border-radius: 3px; border: 1px solid rgb(32,35,40); }

a { color: #c8a2eb; }

#applications {
  border: 1px solid rgb(59,65,74);
  background-color: rgb(44,48,54);
  color: rgb(220,220,220);
  border-radius: 0px 3px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 32px;
}

.dock {
  border: 1px solid rgb(59,65,74);
  background-color: rgb(44,48,54);
}

.contextMenu {
  background-color: rgb(44,48,54);
  color: rgb(220,220,220);
  border-radius: 3px;
  border: 1px solid rgb(59,65,74);
  box-shadow: 0px 0px 32px rgba(0,0,0,0.7);
}
.contextMenuSeparator {
  border-top: 1px solid rgba(0,0,0,0.3);
}

.window {
  border: 1px solid rgb(59,65,74);
  border-radius: 3px;
  box-shadow: 0px 0px 32px rgba(0,0,0,0.5);
}
.windowTitleBar {
  border-radius: 3px 3px 0px 0px;
  background-color: rgb(54,58,63);
  color: rgb(220,220,220);
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.windowBody {
  background-color: rgb(44,48,54);
  border-radius: 0px 0px 3px 3px;
  color: rgb(220,220,220);
}
.windowAction {
  margin-right: 0.4em;
  margin-top: -0.05em;
  float: left;
}

.windowAction img { filter: brightness(85%); }
.windowAction img:hover { filter: brightness(40%); }
.windowAction img:active { filter: brightness(0%); }

input, button, textarea, select, .progressBarOuter, list {
  background-color: rgb(44,48,54);
  color: rgb(220,220,220);
  border-radius: 3px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  border: 1px solid rgb(32,35,40);
}

.progressBarInner { border-radius: 3px; background: linear-gradient(0deg, rgb(0,65,155), rgb(13,113,155)); color: black; }
.progressBarOuter { width: 100%; }

textarea, input { box-shadow: inset 0px 0px 3px rgba(0,0,0,0.25); }

option {
  background-color: rgb(44,48,54);
  color: rgb(220,220,220);
}
button[disabled], input[disabled], textarea[disabled], select[disabled] {
  background-color: rgb(24,28,34);
  color: rgba(255,255,255,0.3);
}
.notAllowed { color: rgba(255,255,255,0.3); }
.chboxContainer input:checked ~ .checkmark { color: rgb(220,220,220); }
.checkmark {
  color: transparent;
  border-radius: 3px;
  background-color: rgb(44,48,54);
  border: 1px solid rgb(32,35,40);
}
input[type="range"] { height: 3px; }
input[type="range"]::-webkit-slider-thumb {
  background-color: rgb(44,48,54);
  border: 1px solid rgb(32,35,40);
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.menubar {
  background-color: rgb(54,58,63);
  color: rgb(220,220,220);
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.menubarButton, .menubarObject {
  border: 1px solid rgb(32,35,40);
  border-radius: 3px;
}
#systemButton { border: none; }
#systemButton img { box-shadow: none; }
#menubarClock { color: white; border: none; }

.menubarButton:hover, button:hover:not([disabled]), .checkmark:hover:not(.notAllowed), select:hover:not([disabled]), .contextMenuSelection:hover:not(.notAllowed), input[type="range"]::-webkit-slider-thumb:hover, item:hover { background: linear-gradient(0deg, rgb(0,65,155), rgb(13,113,155)); }
.menubarButton:active, button:active:not([disabled]), .checkmark:active:not(.notAllowed), select:active:not([disabled]), .contextMenuSelection:active:not(.notAllowed), ::-webkit-scrollbar-thumb:active, input[type="range"]::-webkit-slider-thumb:active, item:focus { background: linear-gradient(0deg, rgb(48,115,255), rgb(63,173,255)); }