::-webkit-scrollbar-thumb { background-color: rgba(0,0,0,0.5); border-radius: 5px; }

.fullscreen {
  background-color: rgb(220,220,220);
  color: black;
}

.dock {
  background-color: rgb(220,220,220);
  color: black;
}

.contextMenu {
  background-color: rgb(220,220,220);
  color: black;
}
.notAllowed {
  color: rgba(0,0,0,0.3);
}
.contextMenuSeparator {
  border-top: 1px solid rgba(0,0,0,0.4);
}

.windowTitleBar {
  background-color: rgb(220,220,220);
  color: black;
}
.windowBody {
  background-color: rgb(220,220,220);
  color: black;
}
.windowAction {
  background-color: transparent;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-right: 0.4em;
  margin-top: -0.05em;
  float: left;
}
.windowAction img {
  height: 0.95rem;
  width: 0.95rem;
  filter: brightness(0%);
}
.windowAction img:hover { filter: brightness(50%); }
.windowAction img:active { filter: brightness(70%); }

input, button, textarea, select {
  background-color: rgba(0,0,0,0.4);
  color: white;
  border-radius: 5px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border: none;
}

#systemButton img {
  filter: brightness(0%);
}

option {
  background-color: white;
  color: black;
}
button[disabled], input[disabled], textarea[disabled], select[disabled] {
  background: rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.3);
}
.chboxContainer input:checked ~ .checkmark { color: white; }
.checkmark {
  background-color: rgba(0,0,0,0.4);
  color: transparent;
}
input[type="range"] { height: 3px; }
input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: white;
}
input[type="range"]::-webkit-slider-thumb:hover { background: rgb(150,150,150); }
.menubar {
  background-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  color: black;
}
.menubarButton, .menubarObject {
  border-radius: 5px;
}
.menubarButton:hover, button:hover:not([disabled]), .checkmark:hover:not(.notAllowed), select:hover:not([disabled]), .contextMenuSelection:hover:not(.notAllowed), ::-webkit-scrollbar-thumb:hover { background-color: rgba(3,169,255,0.5); }
.menubarButton:active, button:active:not([disabled]), .checkmark:active:not(.notAllowed), select:active:not([disabled]), .contextMenuSelection:active:not(.notAllowed), ::-webkit-scrollbar-thumb:active { background-color: rgba(0,129,200,0.5); }
button, .checkmark:not(.notAllowed) {
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
button:after, .checkmark:not(.notAllowed):after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -1px;
  pointer-events: none;
  background-image: radial-gradient(circle, black 8%, transparent 10%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .3s, opacity 1s;
}
button:active:after, .checkmark:not(.notAllowed):active:after {
  transform: scale(0,0);
  opacity: .3;
  transition: 0s;
}

.blur {
  color: black;
  background-color: rgba(220,220,220,0.6);
  backdrop-filter: blur(20px);
}