::-webkit-scrollbar-thumb { border-radius: 10px; border: 0.5px solid rgb(210,210,210); box-shadow: rgba(0,0,0,0.05) 0px 1px 1px; background-color: white; }

a { color: #480b80; }

#applications {
  border-radius: 0 6px 0 0;
  box-shadow: rgba(0,0,0,0.35) 0px 0px 24px;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(20px);
}

.dock {
  box-shadow: rgba(0,0,0,0.35) 0px 0px 24px;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(20px);
}

*[disabled], *::placeholder { color: rgba(0,0,0,0.3); }

.contextMenuSeparator { border-top: 1px solid rgba(0,0,0,0.4); }
.contextMenu {
  border-radius: 6px;
  box-shadow: rgba(0,0,0,0.35) 0px 0px 24px;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(20px);
}

.window {
  border-radius: 6px;
  box-shadow: rgba(0,0,0,0.35) 0px 0px 24px;
}
.windowTitleBar {
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid rgb(210,210,210);
  background: linear-gradient(0deg, rgb(230,230,230), rgb(240,240,240));
}
.windowBody {
  background: rgb(240,240,240);
  border-radius: 0 0 6px 6px;
}
.windowAction img { filter: brightness(0%); }
.windowAction img:hover { filter: brightness(50%); }
.windowAction img:active { filter: brightness(70%); }

input, button, textarea, select, .progressBarOuter, list, .menubarButton {
  background: white;
  box-shadow: rgba(0,0,0,0.05) 0px 1px 1px;
  border-radius: 6px;
  padding: 4px 6px;
  border: 0.5px solid rgb(210,210,210);
  font-weight: 500;
}

@keyframes focus {
  from { background: rgb(90,194,255); }
  to { background: white; }
}

button:focus:not(:hover):not(:active), input[type="range"]:focus, select:focus:not(option):not(:hover):not(:active) {
  animation-name: focus;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#appSearch { background: rgba(240,240,240,0.4); border: none; }

.progressBarOuter { width: 100%; overflow: hidden; }

#systemButton { border: none; background-color: transparent; }
#systemButton img { filter: brightness(0%); }

option {
  color: black;
  font-weight: 500;
}
button[disabled], input[disabled], textarea[disabled], select[disabled] {
  background: white;
  box-shadow: none;
}
.chboxContainer input:checked ~ .checkmark { color: black !important; }
.checkmark {
  background: white;
  border-radius: 6px;
  border: 0.5px solid rgb(210,210,210);
  box-shadow: rgba(0,0,0,0.05) 0px 1px 1px;
  color: transparent !important;
  padding: 4px;
  text-align: center;
  width: 25px;
  height: 25px;
}
input[type="range"] {
  height: 2px;
  background: white;
  border-radius: 6px;
  border: 0.5px solid rgb(210,210,210);
  box-shadow: rgba(0,0,0,0.05) 0px 1px 1px;
}
input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: white;
  border: 0.5px solid rgb(210,210,210);
  box-shadow: rgba(0,0,0,0.05) 0px 1px 1px;
}
.menubar { border-bottom: 1px solid rgb(210,210,210); }
.menubarObject { border-radius: 6px; }

.menubarButton:hover, button:hover:not([disabled]), .checkmark:hover:not([disabled]), select:hover:not([disabled]), input[type="range"]::-webkit-slider-thumb:hover, item:hover { background: linear-gradient(0deg, rgb(20,124,239), rgb(109,179,243)); color: white; }
.menubarButton:active, button:active:not([disabled]), .checkmark:active:not([disabled]), select:active:not([disabled]), input[type="range"]::-webkit-slider-thumb:active, item:focus { background: linear-gradient(0deg, rgb(0,104,219), rgb(89,159,223)); color: white; }

.contextMenuSelection:hover:not([disabled]), ::-webkit-scrollbar-thumb:hover, .progressBarInner { background: rgb(20,124,239); color: white; }
.contextMenuSelection:active:not([disabled]), ::-webkit-scrollbar-thumb:active { background: rgb(0,104,219); color: white; }